// ======================================
//  Mixins / variables
// ======================================
$mainfont: 'Lato', sans-serif;
$breakpoints: (

    'sm': 576px,
    'md': 768px,
    'lg': 992px,  
    'xl': 1200px
);

@mixin mq($break) {
    $value: map-get($breakpoints, $break);
    @media (min-width: $value) {
        @content;
    }
}

@import 'simple-lightbox', 'normalize';

body{
    font-family: $mainfont;
}
.container{
    max-width: 992px;
    margin: auto;
    padding: 0 1em;
}

.form{
    max-width: 400px;
    padding: 3rem 0;
    width: 400px;
    width: 70vw;
    margin: auto;
    input{
        width: 100%;
        padding: 0.5em;

        &[type="search"] {
            border: 2px solid rgba(128, 128, 128, 0.28);
            border-radius: 4px;
            font-size: 1.2em;
            &:focus{
                outline: 1px solid transparent;
            }
            &::-webkit-search-cancel-button{
                display: none;  
            }
        }
    }

}

#photoGallery-thumbnails{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img{
        width: 200px;
        margin: 24px;
    }
}
//fancybox styles overwrite
.fancybox-navigation .fancybox-button[disabled] {
    display: none;
  }
  .fancybox-navigation .fancybox-button{
      height: auto;
  }
  .fancybox-button{
      background: transparent;
      height: auto;
      width: auto;
  }
  button.fancybox-button.fancybox-button--close img {
    width: 40px;
}
.fancybox-caption__body{
    font-size: 1.2em;
}
.fancybox-image, .fancybox-outer, .fancybox-inner{
    @include mq('md'){
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.fancybox-show-caption .fancybox-caption {
    text-align: left;
    width: 100%;
    padding: 60px 25px 25px 25px;
    @include mq('md'){
    width: 80%;
        max-width: 600px;
    margin: auto;
    padding: 60px 44px 25px 44px;
    }
}
.fancybox-navigation .fancybox-button--arrow_right{
    @include mq('md'){
    right: 35px;
    }
}
.fancybox-navigation .fancybox-button--arrow_left {
    @include mq('md'){
    left: 35px;
    }
}